/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme_dark {
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --accent-color: #FF0070;
  --heading-color: #DB00FF;
  --main-font: 'IBM Plex mono';
}