/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme_light {
  --text-color: #353430;
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --heading-color: #FFC2E6;

  &.page {
    background-image: url(../images/cover-image-light.png);
  }
  
  .header__desc {
    color: var(--text-color);
  }
  
  .heading {
    text-shadow: 4px 4px 0px #FF0070;
  }

  .header__theme-menu-item:hover .header__theme-menu-button_active {
    border: 1px solid rgba(53, 52, 48, .5);
  }
  
  .header__theme-menu-button {
    color: var(--text-color);
  
    &:focus-visible {
      border-bottom: 1px solid var(--text-color);
    }
  }
  
  .header__theme-menu-button_active {
    border: 1px solid var(--text-color);
  }
  
  .title {
    color: var(--text-color);
  }
  
  .description__block-title {
    color: var(--text-color);
  }
  
  .decorated-zone::before {
    border-block-start: 1px solid var(--text-color);
    border-inline-end: 1px solid var(--text-color);
  }
  
  .decorated-zone::after {
    border-block-end: 1px solid var(--text-color);
    border-inline-start: 1px solid var(--text-color);
  }
  
  .header__rec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --bg-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --heading-color: #FFC2E6;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__desc {
    color: var(--text-color);
  }

  .heading {
    text-shadow: 4px 4px 0px #FF0070;
  }

  .header__theme-menu-button {
    color: var(--text-color);
  
    &:focus-visible {
      border-bottom: 1px solid var(--text-color);
    }
  }
  
  .header__theme-menu-button_active {
    border: 1px solid var(--text-color);
  }

  .title {
    color: var(--text-color);
  }

  .description__block-title {
    color: var(--text-color);
  }

  .decorated-zone::before {
    border-block-start: 1px solid var(--text-color);
    border-inline-end: 1px solid var(--text-color);
  }
  
  .decorated-zone::after {
    border-block-end: 1px solid var(--text-color);
    border-inline-start: 1px solid var(--text-color);
  }

  .header__rec {
    display: none;
  }
}